<%- include("../layouts/adminLayout/header.ejs") %>
<%- include("../layouts/adminLayout/navbar.ejs") %>

<section class="content-main">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="content-header">
                <h2 class="content-title"><strong>Add New Product</strong> </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form action="/admin/addproduct" method="post" enctype="multipart/form-data" id="productForm">
                        <div class="mb-4">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" name="name" placeholder="Type here" class="form-control" required />
                        </div>
                        <div class="mb-4">
                            <label for="category" class="form-label">Category</label>
                            <select id="category" class="form-control" name="category" required>
                                <option value="">Select category</option>
                                <% category.forEach((item) => { %>
                                <option value="<%= item._id %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" placeholder="Type here" class="form-control"></textarea>
                        </div>
                        <div class="mb-4">
                            <label for="availability" class="form-label">Availability</label>
                            <input type="number" id="availability" name="availability" placeholder="Type here" class="form-control" required />
                            <div id="availabilityError" class="text-danger"></div>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" id="price" name="price" placeholder="Type here" class="form-control" required />
                            <div id="priceError" class="text-danger"></div>
                        </div>
                        <div class="mb-4">
                            <label for="image" class="form-label">Images</label>
                            <input name="image" id="image" class="form-control" type="file" accept="image/*" multiple required/>
                        </div>
                        <button type="submit" class="btn btn-primary rounded font-sm hover-up">Publish</button>
                    </form>
                </div>
            </div>
            <!-- card end// -->
        </div>
    </div>
</section>

<script>
    // Validate availability
    const form = document.getElementById("productForm");
    const availabilityInput = document.getElementById("availability");
    const availabilityError = document.getElementById("availabilityError");

    form.addEventListener("submit", (event) => {
        const availabilityValue = parseInt(availabilityInput.value);
        if (isNaN(availabilityValue) || availabilityValue <= 0) {
            event.preventDefault();
            availabilityError.textContent = "Please enter a valid number greater than 0 for availability.";
        } else {
            availabilityError.textContent = "";
        }
    });

    // Validate price
    const priceInput = document.getElementById("price");
    const priceError = document.getElementById("priceError");

    form.addEventListener("submit", (event) => {
        const priceValue = parseFloat(priceInput.value);
        if (isNaN(priceValue) || priceValue <= 0) {
            event.preventDefault();
            priceError.textContent = "Please enter a valid number greater than 0 for price.";
        } else {
            priceError.textContent = "";
        }
    });
</script>

<%- include("../layouts/adminLayout/footer.ejs") %>
