<%- include("../layouts/adminLayout/header.ejs") %>
<%- include("../layouts/adminLayout/navbar.ejs") %>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Edit category</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="/admin/editcategory" method="post" >
               <div class="mb-4">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" value="<%=categoriesData.name%>" />
                    <input type="hidden" value="<%= categoriesData._id %>" name="categoryId">
                </div>
                
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a href="/admin/category" class="btn btn-outline-danger ml-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>    
</section>

<%- include("../layouts/adminLayout/footer.ejs") %>
