<%- include("../layouts/adminLayout/header.ejs") %>
<%- include("../layouts/adminLayout/navbar.ejs") %>
<section class="content-main">
  <div class="content-header">
      <div>
          <h2 class="content-title card-title">Ordered Products</h2>
          <p style="color: green;">Lorem ipsum dolor sit amet.</p>
      </div>
      <div>

          <a href="/admin/orderlist" class="btn btn-primary btn-sm rounded">Back to orders</a>
      </div>
  </div>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mt-5">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for ( let items of orderedproducts.products ){ %>
                           
                            <tr>
                                <td>
                                    <img style="width:100px; height: auto;border-radius: 0;" src="/productImages/<%= items.productId.image[0] %>" alt="">
                                </td>
                            <td><%= items.productId.name %></td>
                          
                            <td><%= items.productId.price %></td>
                            <td><%= items.quantity %></td>
                            <td><%=  items.price%></td>
                            
                            </tr>

                        <% } %>
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
</div>