<%-include("../layouts/adminLayout/header.ejs")%>
<%-include("../layouts/adminLayout/navbar.ejs")%>

<section class="card mb-4">
  <section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title"><strong>Users List</strong> </h2>
            <p style="color: green;">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table align-middle table-nowrap mb-0">
        <thead class="table-light">
          <tr>
            <th class="align-middle" scope="col">Name</th>
            <th class="align-middle" scope="col">Mobile</th>
            <th class="align-middle" scope="col">Email</th>
            <th class="align-middle" scope="col">Joined Date</th>
            <th class="align-middle" scope="col">isverified</th>
            <th class="align-middle" scope="col">isBlocked</th>
          </tr>
        </thead>
        <tbody>
          <% for(let user of users) { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.mobile %></td>
            <td><%= user.email %></td>
            <td><%= moment().format('YYYY-MM-DD') %></td>
            <td><%= user.isverified %></td>
            <td><%= user.isBlocked %></td>
            <td>
              <% if(user.isBlocked === false)  { %>
              <div>
                <a href="/admin/block-user/<%= user._id %>">
                  <button type="button" class="btn btn-dark btn-icon-text">block</button>
                </a>
              </div>
              <% } else { %>
              <div>
                <a href="/admin/unblock-user/<%= user._id %>">
                  <button type="button" class="btn btn-dark btn-icon-text">unblock</button>
                </a>
              </div>
              <% } %>                                 
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <!-- table-responsive end// -->
  </div>
</section>

<%-include("../layouts/adminLayout/footer.ejs")%>
