<%- include("../layouts/userlayout/header.ejs")%>
<%-include("../layouts/userlayout/nav.ejs") %>



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
                <h3 class=" billing-heading" style="text-align: center;"><strong>Address Details</strong> </h3>

                <div class="row mt-3 justify-content-center pl-lg-5 profile-buttons p-2">
                    <a class="btn text-primary fw-bold " style="text-align: center; font-size: larger; " href="/addAddress">Add Address</a>
                </div>
                <% if(data&&data.length>0) {%>
                    <%for(let items of data) {%>
                <div class="card">
                    <div class="card-body" id="adressdiv-<%=items._id%>">
                        <div class="row" >
                            <div class="col-md-12">                              
                                <p>Name: <%=items.name%> <br>
                                mobile: <%=items.mobile%> <br>
                                email: <%=items.email%> <br>
                                <strong>Address:</strong>
                                    <%=items.houseName%>,<%=items.landmark%><br>
                                    City: <%=items.city%>
                                    State: <%=items.state%> <br>
                                    Country: <%=items.country%>
                                    Postcode / ZIP: <%=items.pincode%>
                                
                                </p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                            <a class="btn btn-primary" href="editAdress/<%= items._id%>">Edit </a> 
                            <a class="btn btn-dark" onclick="removeAdress('<%=items._id%>')">Delete</a>
                        </div>
                    </div>
                    </div>
                </div>
             <%}%>
            </div>
           
            <%}%>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

async function removeAdress(userid) {

    const response = await axios.patch(`removeAdress/${userid}`)
    if (response.data.success) {

        const addressdiv = document.getElementById(`adressdiv-${userid}`)
        addressdiv.style.display = 'none'
    }
}

</script>

<%-include("../layouts/userlayout/footer.ejs") %>

