<%- include("../layouts/userLayout/header.ejs")%>
<%-include("../layouts/userlayout/nav.ejs") %>

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 ftco-animate">
            <form action="/editAdress" method="post" class="billing-form">
            <h3 class="mb-4 billing-heading">Edit Adress</h3>
          
            <div class="row align-items-end">
                <div class="w-100"></div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="firstname">Name</label>
                    <input type="text" name="name" value="<%=adress.name%>" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="w-100"></div>
                <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Phone</label>
                  <input type="text" name="mobile" value="<%=adress.mobile%>" class="form-control" placeholder="">
                </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="emailaddress">Email Address</label>
                    <input type="text" name="email" value="<%=adress.email%>" class="form-control" placeholder="">
                  </div>
                </div>

                <div class="w-100"></div>
                <div class="col-md-6">
                    <div class="form-group">
                    <label for="streetaddress">houseName</label>
                  <input type="text" name="houseName" value="<%=adress.houseName%>" class="form-control" placeholder="House number and street name">
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <label for="streetaddress">landmark</label>    
                  <input type="text" name="landmark" value="<%=adress.landmark%>" class="form-control" placeholder="Appartment, suite, unit etc: (optional)">
                </div>
                </div>

              <div class="w-100"></div>
              
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="towncity">City</label>
                    <input type="text" name="city" value="<%=adress.city%>" class="form-control" placeholder="">
                  </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                    <label for="towncity">state</label>
                  <input type="text" name="state" value="<%=adress.state%>" class="form-control" placeholder="">
                </div>
                </div>

 
                  <div class="w-100"></div>
                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" name="country" value="<%=adress.country%>" class="form-control" placeholder="">
                        <!-- <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                          <option value="">France</option>
                        <option value="">Italy</option>
                        <option value="">Philippines</option>
                        <option value="">South Korea</option>
                        <option value="">Hongkong</option>
                        <option value="">Japan</option>
                      </select>
                    </div> -->
                    </div>
                </div>
                  
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="postcodezip">Postcode / ZIP *</label>
                    <input type="text" name="pincode" value="<%=adress.pincode%>" class="form-control" placeholder="">
                  </div>
                  </div>
                 
             
              <div class="w-100"></div>
              <div class="col-md-12">
                <div class="form-group mt-4">
                   <!-- <div class="radio">
                     <label class="mr-3"><input type="radio" name="optradio"> add new </label>
                     <label><input type="radio" name="optradio"> edit</label>
                   </div> -->
                   <button type="submit" class="btn btn-primary btn-sm mr-3" style="width: 100px; height: 50px; ">Update</button>
                </div>
              </div>
              </div>
        
        </form><!-- END -->
        </div>
      </div>
    </div>
</section>    

<%-include("../layouts/userlayout/footer.ejs") %>
<%-include("../layouts/userlayout/footerNav.ejs") %>