<%-include("../layouts/userlayout/header.ejs") %>
<%-include("../layouts/userlayout/nav.ejs") %>
<style>
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f8f9fa;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #dbcc8f;
  color: #f8f9fa;
  font-size: 17px;
  border: 1px solid #dbcc8f;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<section class="hero-wrap hero-bread" style="background-image: url('/productImages/bg_6.jpg'); height: 3px;">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <span>Shop</span></p>
        <h1 class="mb-0 bread">Shop</h1>
      </div>
    </div>
  </div>
</section>

<!-- Sidebar -->

<section class="ftco-section bg-light">
  <div class="container" >
    <div class="row">
      <div class="col-md-8 col-lg-10 order-md-last">

        <form class="example">
          <input type="text" id="search" style="margin-bottom: 10px;"  placeholder="Search your products.." name="search">
          <input type="hidden" name="cat" value="<%=cat%>">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        
        <div class="row" >
      
        <% for (let product of productData ) { %>
          <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
            <div class="product d-flex flex-column">
              <a href="/singleproduct/<%=product._id%>" class="img-prod"><img class="img-fluid" src="/productImages/<%= product.image[0] %>" alt="Colorlib Template">
                <div class="overlay"></div>
              </a>
              <div class="text py-3 pb-4 px-3">
                <div class="d-flex">
                  <div class="cat">
                    <span><%= product.category.name %></span>
                  </div>
                  <div class="rating">
                    <p class="text-right mb-0">
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                      <a href="#"><span class="ion-ios-star-outline"></span></a>
                    </p>
                  </div>
                </div>
                <h3><a href="#"><%= product.name %></a></h3>
                <div class="pricing">
                  <p class="price"><span>₹<%= product.price %></span></p>
                </div>
                <p class="bottom-area d-flex px-3" onclick="addToCart('<%=product._id%>')" >
                  <a  class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                  <!-- <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a> -->
                </p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      
        <!-- //paginaton -->
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="/shop?page=<%= previousPage %>">&lt;</a></li>
                <% if( currentPage !== 1 ) { %> 
                  <li><a href="/shop?page=1">1</a></li>
              <% } %>
              <% if( currentPage > 2 ) { %>
               <li><a href="/shop?page=<%= previousPage %>"><%= previousPage %></a></li> 
              <% } %>
              <li class="active"><a href="/shop?page=<%= currentPage %>"><%= currentPage %></a></li>
              <% if( hasNextpage ) { %>
               <li><a href="/shop?page=<%= nextPage %>"><%= nextPage %></a></li> 
              <% } %>
              <% if( (lastPage - currentPage > 2) ){ %>
               <li><span>...</span></li>
              <% } %>    
              <% if( nextPage !== lastPage && currentPage !== lastPage ) { %>
               <li><a href="/shop?page=<%= lastPage %>d %>"><%= lastPage %></a></li>
              <% } %>
                <li><a href="/shop?page=<%= nextPage %>">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-2">
        <div class="sidebar">
          <div class="sidebar-box-2">
            <h2 class="heading">Categories</h2>
            <div class="fancy-collapse-panel" id="categorySelect">
              <ul>
                <li><a href="/shop">ALL</a></li>
                <% for(let Category of category){%>
                <li style="color: black; font-size: small; cursor: pointer;" ><a href="/shop?cat=<%=Category._id%>"><%=Category.name%></a></li>
                <%}%>
              </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal for Adding to Cart -->
<div id="addToCartModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product Added to Cart</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The product has been added to your cart.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
        <a href="/cart" class="btn btn-primary">View Cart</a>
      </div>
    </div>
  </div>
</div>





<!-- Include Axios library -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
async function addToCart(product_Id) {
  let product_quantity = 1
  try {
      const response = await axios.post('/addtocart', { product_quantity , product_Id });

      if (response.data.success) {
          console.log('Product added to the cart');
          // Show the modal when the product is added to the cart successfully
          $('#addToCartModal').modal('show');
          // Handle success, e.g., update the UI to reflect the product added to the cart
      } else if (response.data.loginRequired) {
          window.location = '/login'
          // Handle login required, e.g., redirect the user to the login page
      } else {
          console.log('An error occurred while adding the product to the cart');
          // Handle other errors, e.g., display an error message to the user
      }
  } catch (error) {
      console.error('An error occurred:', error);
      // Handle network or server errors, e.g., display an error message to the user
  }
}

</script>

<%-include("../layouts/userlayout/footerNav.ejs") %>
<%-include("../layouts/userlayout/footer.ejs") %>