<%-include("../layouts/userlayout/header.ejs") %>
<%-include("../layouts/userlayout/nav.ejs") %>

<div class="hero-wrap hero-bread" style="background-image: url('/productImages/bg_6.jpg');height: 50%;">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="login_form_inner register_form_inner">
      <div class="col-md-9 ftco-animate text-center" >
        <p class="breadcrumbs"><span class="mr-2"><a href="/login">shoesplanet</a></span> 
        <h1 class="mb-0 bread">signup</h1>
      </div>
    </div>
  </div>
</div>



<div class="row block-9 justify-content-center">
  <div class="col-md-10 order-md-last d-flex align-items-center justify-content-center m-5" style="max-width: 40%;">
    <form action="/signup" method="post"  class="bg-white p-5 login-form" id="register_form" style="width: 100%;">
      <div>
        <% if(message.length > 0) { %>
          <div class="col-md-12 form-group" id="flash-div">
            <label   
            style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);" 
            for=""><%= message %></label>
          </div>
          <% } %>
          
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="name"  name="name" placeholder="Your name" >
      </div>
      <div class="form-group">
        <input type="number"  class="form-control" id="mobile"  name="mobile" placeholder="Your mobile" >
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email"  name="email" placeholder="Your Email" >
      </div>
      <div class="form-group">
        <input type="password"  class="form-control" id="password"  name="password" placeholder="your password"   required>
      </div>
      <div class="form-group">
        <input  type="submit"
        value="submit"
        class="btn-primary py-3 px-5  w-100"
        style="color: #fff; background-color: #dbcc8f; border: 1px solid #dbcc8f;" >
      </div>
    </form>    
  </div>
</div>
</div>


<script>

document.querySelector('#register_form').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the form from submitting
      
      var flash = document.getElementById('flash-div')

      if(flash) {
        flash.style.display = 'none'
        flash.innerHTML = ''
      }
      

//  <!-- Get form input values -->
var name =  document.getElementById("name").value.trim()
var mobile =  document.getElementById("mobile").value.trim()
var email =  document.getElementById("email").value.trim()
var password =  document.getElementById("password").value

// <!-- // Remove any existing error messages -->
var errorMessages = document.querySelectorAll('.error-message');
errorMessages.forEach(function(errorMessage) {
  errorMessage.remove();
});
  
//  Track if there is any error //
var hasError = false; 

if (name === ''|| mobile === '' ||email === '' ) {
  // <!-- // Fields are empty, display an error message -->
  var emptyFieldsErrorMessage = document.createElement('div');
        emptyFieldsErrorMessage.className = 'form-group error-message';
        emptyFieldsErrorMessage.innerHTML = `
          <label   
            style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
            for=""
          >
            Fields should not be empty  
          </label>
        `;
        var form = document.querySelector('#register_form');
        form.insertBefore(emptyFieldsErrorMessage, form.firstChild);
        hasError = true;
      } else {
        // Regular expression for letters only validation
        var lettersOnlyRegex = /^[A-Za-z]+$/;
  
        if (!lettersOnlyRegex.test(name)) {
          // First name or last name contains invalid characters, display an error message
          var nameErrorMessage = document.createElement('div');
          nameErrorMessage.className = 'form-group error-message';
          nameErrorMessage.innerHTML = `
            <label   
              style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
              for="firstName"
            >
              name should only contain letters
            </label>
          `;
          var form = document.querySelector('#register_form');
          form.insertBefore(nameErrorMessage, form.firstChild);
          hasError = true;
        } else {
          // Regular expression for email validation
          var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  
          if (!emailRegex.test(email)) {
            // Email is invalid, display an error message
            var emailErrorMessage = document.createElement('div');
            emailErrorMessage.className = ' form-group error-message';
            emailErrorMessage.innerHTML = `
              <label   
                style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
                for="email"
              >
                Invalid email address
              </label>
            `;
            var form = document.querySelector('#register_form');
            form.insertBefore(emailErrorMessage, form.firstChild);
            hasError = true;
          } else {
            // Regular expression for mobile number validation
            var mobileRegex = /^\d{10}$/;
  
            if (!mobileRegex.test(mobile)) {
              // Mobile number is invalid, display an error message
              var mobileErrorMessage = document.createElement('div');
              mobileErrorMessage.className = 'form-group error-message';
              mobileErrorMessage.innerHTML = `
                <label   
                  style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
                  for="mobile"
                >
                  Mobile number should be 10 digits
                </label>
              `;
              var form = document.querySelector('#register_form');
              form.insertBefore(mobileErrorMessage, form.firstChild);
              hasError = true;
            } else {
              // Regular expression for password validation
              var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
  
              if (!passwordRegex.test(password)) {
                // Password is invalid, display an error message
                var passwordErrorMessage = document.createElement('div');
                passwordErrorMessage.className = 'form-group error-message';
                passwordErrorMessage.innerHTML = `
                  <label   
                    style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
                    for="password"
                  >
                    Password should contain at least 8 characters, including uppercase letters, lowercase letters, numbers, and symbols
                  </label>
                `;
                var form = document.querySelector('#register_form');
                form.insertBefore(passwordErrorMessage, form.firstChild);
                hasError = true;
              }
            }
          }
        }
      }
  
      if (!hasError) {
        // No errors, proceed with form submission
        this.submit();
      }
})


  </script>

<%-include("../layouts/userlayout/footerNav.ejs") %>
<%-include("../layouts/userlayout/footer.ejs") %>