<%-include("../layouts/userlayout/header.ejs") %>
<%-include("../layouts/userlayout/nav.ejs") %>

<style>
.product-image {
  max-width: 80%; /* Adjust the maximum width as needed */
  height: 100%; 
 /* This ensures that the image maintains its aspect ratio */
}
</style>


<div class="hero-wrap hero-bread" style="background-image: url('/productImages/bg_6.jpg'); height: 300px;">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="/home">Home</a></span> <a href="/shop"><span>Shop</span></a></p>
        <h1 class="mb-0 bread">Single Product</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 ftco-animate">
        <% for (let i = 0; i < productData.image.length; i++) {%>
          <a href="/productImages/<%= productData.image[i] %>" class="image-popup prod-img-bg">
            <img src="/productImages/<%= productData.image[i] %>" class="img-fluid product-image" alt="Product Image">
          </a>
        <% } %>
      </div>
      <div class="col-lg-6 product-details pl-md-5 ftco-animate">
        <h3><%= productData.name %></h3>
        <div class="rating d-flex">
          <p class="text-left mr-4">
            <a href="#" class="mr-2">5.0</a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
          </p>
          <p class="text-left mr-4">
            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Ratings</span></a>
          </p>
          <p class="text-left">
            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
          </p>
        </div>
        <p class="price"><span>₹<%= productData.price %></span></p>
        <p><%= productData.description %></p>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group d-flex">
              <!-- Add any select input or form elements here -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group d-flex mb-3">
              <!-- Add any input elements here -->
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <p style="color: #ee0f0f;"><%= productData.availability %> pieces left</p>
        </div>
        <% if (productData.availability > 0) { %>
          <p><a class="btn btn-black py-3 px-5 mr-2" onclick="addToCart('<%= productData._id %>')">Add to Cart</a></p>
        <% } else { %>
          <a style="color: rgb(241, 58, 58);" class="btn btn-danger mr-2">Out of Stock!!</a>
        <% } %>
      </div>
    </div>




          <div class="row mt-5">
        <div class="col-md-12 nav-link-wrap">
          <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link ftco-animate active mr-lg-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Description</a>

            <a class="nav-link ftco-animate mr-lg-1" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Manufacturer</a>

            <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Reviews</a>

          </div>
        </div>
        <div class="col-md-12 tab-wrap">
          
          <div class="tab-content bg-light" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                <div class="p-4">
                    <h3 class="mb-4"><%=productData.name%></h3>
                    <p><%=productData.description%></p>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                <div class="p-4">
                    <h3 class="mb-4">Manufactured By <%=productData.name%></h3>
                    <p><%=productData.description%></p>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                <div class="row p-4">
                                 <div class="col-md-7">
                                     <h3 class="mb-4">23 Reviews</h3>
                                     <div class="review">
                                         <div class="user-img" style="background-image: url(productImages/person_1.jpg)"></div>
                                         <div class="desc">
                                             <h4>
                                                 <span class="text-left">Jacob Webb</span>
                                                 <span class="text-right">14 March 2018</span>
                                             </h4>
                                             <p class="star">
                                                 <span>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                 </span>
                                                 <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                             </p>
                                             <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                         </div>
                                     </div>
                                     <div class="review">
                                         <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                                         <div class="desc">
                                             <h4>
                                                 <span class="text-left">Jacob Webb</span>
                                                 <span class="text-right">14 March 2018</span>
                                             </h4>
                                             <p class="star">
                                                 <span>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                 </span>
                                                 <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                             </p>
                                             <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                         </div>
                                     </div>
                                     <div class="review">
                                         <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                                         <div class="desc">
                                             <h4>
                                                 <span class="text-left">Jacob Webb</span>
                                                 <span class="text-right">14 March 2018</span>
                                             </h4>
                                             <p class="star">
                                                 <span>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                     <i class="ion-ios-star-outline"></i>
                                                 </span>
                                                 <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                             </p>
                                             <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov</p>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="rating-wrap">
                                         <h3 class="mb-4">Give a Review</h3>
                                         <p class="star">
                                             <span>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 (98%)
                                             </span>
                                             <span>20 Reviews</span>
                                         </p>
                                         <p class="star">
                                             <span>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 (85%)
                                             </span>
                                             <span>10 Reviews</span>
                                         </p>
                                         <p class="star">
                                             <span>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 (98%)
                                             </span>
                                             <span>5 Reviews</span>
                                         </p>
                                         <p class="star">
                                             <span>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 (98%)
                                             </span>
                                             <span>0 Reviews</span>
                                         </p>
                                         <p class="star">
                                             <span>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 <i class="ion-ios-star-outline"></i>
                                                 (98%)
                                             </span>
                                             <span>0 Reviews</span>
                                         </p>
                                     </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!-- Modal -->
<div class="modal fade" id="cartAddedModal" tabindex="-1" role="dialog" aria-labelledby="cartAddedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cartAddedModalLabel">Product Added to Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          The selected product has been added to your cart.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="/cart" class="btn btn-primary">Go to Cart</a>
        </div>
      </div>
    </div>
  </div>
  



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
 async function addToCart(product_Id) {
    
    let product_quantity = 1
    try {
        const response = await axios.post('/addtocart', { product_quantity , product_Id });

        if (response.data.success) {
            console.log('Product added to the cart');
            // Show the modal when product is added
                $('#cartAddedModal').modal('show');
            // Handle success, e.g., update the UI to reflect the product added to the cart
        } else if (response.data.loginRequired) {
            window.location = '/login'
            // Handle login required, e.g., redirect the user to the login page
        } else {
            console.log('An error occurred while adding the product to the cart');
            // Handle other errors, e.g., display an error message to the user
        }
    } catch (error) {
        console.error('An error occurred:', error);
        // Handle network or server errors, e.g., display an error message to the user
    }
}

</script>

<%-include("../layouts/userlayout/footerNav.ejs") %>
<%-include("../layouts/userlayout/footer.ejs") %>